.animation-pulse  {
    transform: scale(.85);
    animation: pulse 4s ease-in-out infinite;
  }
  
@keyframes pulse {
    from {
      transform: scale(.85);
    }
    50% {
      transform: scale(1);
    }
    to {
      transform: scale(.85);
    }
}