.custom-checkbox-bg:checked + .label-custom-checkbox-bg{
    background-color: $onAccent;
    color: $brand;
    transition: .75s;
}

.label-custom-checkbox-bg{
    transition: .8s;
}

@media (max-width: 960px) {
    .custom-checkbox-bg:checked + .label-custom-checkbox-bg{
        background-color: $accent;
    }
}

.custom-checkbox-mark input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.custom-checkbox-mark label {
    position: relative;
}
.custom-checkbox-mark label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.5s ease;
    border-radius: 6px;
    border: 1px solid $onAccent;
}
.custom-checkbox-mark label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 1px solid $onAccent;
    border-left: 1px solid $onAccent;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 12px;
    left: 10px;
}
.custom-checkbox-mark input[type="checkbox"]:checked ~ label::before {
    color: $onAccent;
}

.custom-checkbox-mark input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.custom-checkbox-mark label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
.custom-checkbox-mark label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.custom-checkbox-mark input[type="checkbox"]:focus + label::before {
    outline: 0;
}

@media (max-width: 960px) {
    .custom-checkbox-mark label:before {
        border: 1px solid $accent;
    }
    .custom-checkbox-mark label:after {
        border-color: $accent;
    }
    .custom-checkbox-mark input[type="checkbox"]:checked ~ label::before {
        color: $accent;
    }

}