


.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: $brand;
  z-index: 999;
}

.navbar__wrap {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: baseline;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}


@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    opacity: 0;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $brand;
    z-index: 100;
    display: flex;
  }

  .popup.open {
    transition: 1s;
    left:0;
    opacity: 1;
  }


  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 150px 0;
    overflow: auto;
    transition: 0.4s;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 15px 0;
    font-family:'Dela Gothic One';
    transition: 2s;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}