body{
    font-family:'Jura';
    color: $wildSand;
}

h1{
    font-size: 30px;
    line-height: 38px;
    font-family:'Dela Gothic One';
}
h2{
    font-size: 28px;
    line-height: 36px;
    font-family:'Dela Gothic One'; 
}
h3{
    font-size: 26px;
    line-height: 34px;
    font-family:'Dela Gothic One'; 
}
h4{
    font-size: 24px;
    line-height: 30px;
    font-family:'Dela Gothic One'; 
}
h5{
    font-size: 22px;
    line-height: 28px;
    font-family:'Dela Gothic One';
}
h6{
    font-size: 20px;
    line-height: 26px;
    font-family:'Dela Gothic One';
}

p{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ff-dela-gothic-one{
    font-family:'Dela Gothic One';
}

.ff-jura{
    font-family:'Jura';
}

*::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 20px;
    border: 3px solid var(--brand);
    cursor: pointer;
  }
  
  @media (min-width: 540px) {
    .switch::after {
      position: absolute;
      content: '';
      background-image: url('../../../public/template/icon/arrow.svg');
      background-repeat: no-repeat;
      width: 132px;
      height: 42px;
      background-size: cover;
      top: -47px;
      right: -85px;
    }
  }

._img{
    @apply absolute top-4 right-4 w-1/2 h-1/2 object-cover ;
}