.tabs-block .default {
  @apply rounded-2xl border-solid border-onAccent border text-base lg:text-xl;
}
  
.tabs-block .active {
  @apply bg-accent lg:bg-onAccent text-brand rounded-2xl block text-center text-base lg:text-xl;
}

.toggle {
  background-color: var(--accent);
  color: var(--brand);
  font-weight: 700;
}

.tab__item li::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--accent);
  left: 0;
  top: 10px;
}

.tab__item li:last-child::before {
  display: none;
}

.wrapper-img {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.wrapper-img__inner {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}